[Unit]
Description=Flask Hello World (Oracle ADB)
After=network.target

[Service]
User=opc
WorkingDirectory=/home/opc/flask-hello-oracle
ExecStart=/home/opc/flask-hello-oracle/venv/bin/gunicorn -w 2 -b 127.0.0.1:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
